@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

  @Html.LabelFor(model => model.Ingredients)
  @Html.TextAreaFor(model => model.Ingredients)
  <p>@Html.ValidationMessageFor(model => model.Ingredients, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
  
  @Html.LabelFor(model => model.Instructions)
  @Html.TextAreaFor(model => model.Instructions)
  <p>@Html.ValidationMessageFor(model => model.Instructions, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

  <div class="form-group">
    <p>Rating</p>
    <label>
      <input type="radio" name="rating" value="1 star" id="1star">
      1 star
    </label><br>
    <label>
      <input type="radio" name="rating" value="2 stars" id="2stars">
      2 stars
    </label><br>
    <label>
      <input type="radio" name="rating" value="3 stars" id="3stars" checked>
      3 stars
    </label><br>
    <label>
      <input type="radio" name="rating" value="4 stars" id="4stars">
      4 stars
    </label><br>
    <label>
      <input type="radio" name="rating" value="5 stars" id="5stars">
      5 stars
    </label>
  </div>

  <input type="submit" value="Add new recipe">
}

<p>@Html.ActionLink("Show all recipes", "Index")</p>