@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model RecipeBox.Models.Recipe

<h2>Recipe Details</h2>
<hr>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>Your rating: @Html.DisplayFor(model => model.Rating)</h3>
<p>@Html.DisplayNameFor(model => model.Ingredients): @Html.DisplayFor(model => model.Ingredients)</p>
<p>@Html.DisplayNameFor(model => model.Instructions): @Html.DisplayFor(model => model.Instructions)</p>

@if (Model.JoinEntities.Count == 0)
{
  <p>This recipe has not been tagged yet.</p>
}
else
{
  <h4>Recipe tags:</h4>
  <ul>
    @foreach (RecipeTag join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{join.Tag.Name}", "Details", "Tags", new { id = join.TagId })</li>
      @using (Html.BeginForm("DeleteJoin", "Tags"))
      {
        @Html.Hidden("joinId", @join.RecipeTagId)
        <input type="submit" value="Delete">
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to recipe list", "Index")</p>
<p>@Html.ActionLink("Edit recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete recipe", "Delete", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add a tag", "AddTag", new { id = Model.RecipeId })</p>