@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Add a recipe</h2>

<h4>Tag a recipe as @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TagId)

  @Html.Label("Select recipe")
  @Html.DropDownList("RecipeId")

  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to tag list", "Index")</p>